#root{
	height: 100%;
}
#root .ant-layout.ant-layout-has-sider{
	height: 100%;
	position: relative;
}

/*login: ;*/
#root .ant-form{
	width: 600px;
	position: absolute;
	margin: auto;
	height: 300px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.loginWrap{
	width: 100%;
	height: 100%;
	position: relative;
	/*background: url('../static/images/form.gif') no-repeat;*/
	/*background-size: 100% 100%;*/
}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.login-form-forgot{
	float: right;
	margin: 0 5px 0 0;
}
.ant-btn-primary{
	float: right;
	margin: 3.5px 0 0;
}

/*content*/
#components-layout-demo-side .logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}

#components-layout-demo-side .ant-layout-sider-collapsed .anticon {
  font-size: 16px;
  margin-left: 8px;
}

#components-layout-demo-side .ant-layout-sider-collapsed .nav-text {
  display: none;
}

#components-layout-demo-side .ant-layout-sider-collapsed .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
  display: none;
}



.container{
	background: #fff;
	padding: 5%;
}
.menu-title h3{
	text-align: center;
    color: #803F5F;
    font-size: 3em;
    margin: 0;
}
.line{
	border-top: 1px solid  #803F5F;
    margin: 0.5em auto 1em;
    text-align: center;
    width: 8%;
}
p.proident{
	font-size:14px;
	color:#999;
	margin:0 auto;
	width:55%;
	text-align:center;
	line-height: 1.9em;
}
.menu-page-grids{
	margin-top: 5%;
	width: 100%;
  overflow: hidden;
}
.menu-grids-info-out{
  width: 30%;
  float: left;
}
.menu-grids-info {
    height: 800px;
    overflow: hidden;
    position: relative;
    width:100%;
    margin:5px;
    border: 1px #ddd solid;
    float: left;
}

.menu-grids-info img {
  width: 100%;

}
.menu-grids-info h4 {
  font-size: 1.5em;
  color:#D17D73;
  margin: 1em 0 .3em;
}
.menu-grids-info h4 a{
	text-decoration:none;
	color:#803F5F;
	text-transform: capitalize;
}
.menu-grids-info h4 a:hover{
	text-decoration:none;
	color:#B32D0D;
}
.menu-grids-info p {
	color: #555555;
    font-size: 14px;
    line-height: 1.8em;
    margin: 1em 0 0;
}
.menu-grids-info-out button:last-child {
	float:right;
  overflow: hidden;
}
.menu-rate {
    position: absolute;
    width: 92%;
    top: 0%;
    left: 15px;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}
.menu-grids-info:hover div.menu-rate {
    display: block;
}

.menu-rate h5 {
    font-size: 30px;
    font-weight: 500;
    color:#fff;
    letter-spacing: 0.5px;
    margin: 1em 0;
    text-align: center;
}
.sum{
	margin:0em 0 3em;
}
.menu-spl {
    position: relative;
}
.menu-spl:hover div.menu-rate {
    display: block;
}
.menu-rate.spl-rate {
    width: 95%;
}

/*ItemEdit*/
.ItemEdit{
    padding:10%;
}
.example-input{
    margin:0 auto;
}
.example-input .ant-input {
  width: 50%;
  margin: 0 8px 8px 0;
}
.code-box-demo > div {
  overflow: hidden;
}
.code-box-demo .buttons {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.ant-upload-list{
    width: 56.5%;
}
.example-input button:last-child{
  margin-left: 45%;  
}


.menu-grids-info .cook{
  height: 100%;
  width: 100%;
  position: relative;
  
  display: none;
  color:#803F5F;
  transform: capitalize;
}
.menu-grids-info:hover .cook{
  display:block;
  color:#B32D0D;
}
.menu-grids-info:hover .hid{
  display:none;
}


